@page "/todo"
@inject StorageHandler storageHandler

<Navbar></Navbar>

<div class="w-100p p-2vh mt-2_5vh flex-column justify-center">
    <div class="w-100p flex-row justify-evenly align-center p-1vh">
        <div class="w-50p flex-row justify-start align-center">
            
        </div>
        <div class="w-50p flex-row justify-evenly align-center">
            
        </div>
    </div>
</div>

@code {
    public bool IsLoaded = false;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            IsLoaded = true;
            StateHasChanged();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
}
