<header class="h-10vh flex-row align-center justify-center Navbar">
    <div class="w-33_3p flex-row justify-start align-center">
        <h1 class="p-0 m-0">Home</h1>
    </div>
    <div class="w-66_6p flex-row justify-evenly align-center">
        <a style="margin-left: 10%;">Link</a>
        <a>Link</a>
        <a>Link</a>
        <a>Link</a>
        <a style="margin-right: -10%;">Link</a>
    </div>
</header>

<div class="h-10vh w-100p"></div>

@code {

}
