@page "/"

<Navbar></Navbar>

@if (IsLoaded)
{
    <div class="flex-column w-100p h-100p justify-center align-center">
        <h2>@(testStuff.Counter)</h2>
        <button class="MyButton" @onclick="() => { testStuff.Counter++; StateHasChanged(); }">Click me!</button>
    </div>
}

@code
{
    public bool IsLoaded = false;
    public TestStuff testStuff = TestStuff.GetInstance();

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            testStuff = TestStuff.GetInstance();
            testStuff.Attach(this);

            IsLoaded = true;
            StateHasChanged();
        }
    }
}
